# Módulos

## Objetivos

- Aprender a definir funciones y utilizarlas
  - Entender las diferentes maneras de pasar argumentos a una función 
- Conocer el uso de módulos y paquetes
    - pandas:  manejo de tablas de datos
    - matplotlib: graficar

# matplotlib
La librería matplotlib permite realizar gráficas a partir de tablas de datos

* Se intala con el siguiente comando

`pip install matplotlib`

* (En el ambiente ya está instalada)

# pandas

Maneja tablas de datos

`pip install pandas`

(en el ambiente ya está instalado)

In [64]:
import pandas as pd

In [65]:
# importar un archivo csv

temperaturas = pd.read_csv("data/temperaturas.csv")

In [66]:
# primero explorar lo que importamos

print(temperaturas.head())

  estacion  tempaire  maxima  minima
0    AGSAG     19.25    28.0    10.5
1    ANVAG     17.40    27.3     7.5
2    CDRAG     20.00    30.0    10.0
3    CNSAG     17.50    28.0     7.0
4    AGSAG      9.50    19.0     0.0

In [67]:
print(temperaturas)

   estacion  tempaire  maxima  minima
0     AGSAG     19.25    28.0    10.5
1     ANVAG     17.40    27.3     7.5
2     CDRAG     20.00    30.0    10.0
3     CNSAG     17.50    28.0     7.0
4     AGSAG      9.50    19.0     0.0
..      ...       ...     ...     ...
95    PLNBS     24.30    34.0    14.6
96    RBRBS     20.55    25.7    15.4
97    SANBS     29.90    36.8    23.0
98    SARBS     30.25    37.0    23.5
99    SBABS     29.00    36.0    22.0

[100 rows x 4 columns]

In [68]:
print(temperaturas.info() )

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   estacion  100 non-null    object
 1   tempaire  100 non-null    float64
 2   maxima    100 non-null    float64
 3   minima    100 non-null    float64
dtypes: float64(3), object(1)
memory usage: 3.3+ KB
None

In [69]:
print( temperaturas.shape )

(100, 4)

In [70]:
print( temperaturas.describe() )

         tempaire      maxima      minima
count  100.000000  100.000000  100.000000
mean    23.317250   31.702500   14.940000
std      4.828083    5.055402    5.725753
min      9.500000   17.000000    0.000000
25%     19.500000   28.875000   10.475000
50%     23.875000   32.250000   14.700000
75%     27.500000   35.625000   20.000000
max     32.700000   41.800000   27.100000

In [71]:
# values transforma la información a un formato de matriz
print( temperaturas.values )

[['AGSAG' 19.25 28.0 10.5]
 ['ANVAG' 17.4 27.3 7.5]
 ['CDRAG' 20.0 30.0 10.0]
 ['CNSAG' 17.5 28.0 7.0]
 ['AGSAG' 9.5 19.0 0.0]
 ['ANVAG' 20.5 31.0 10.0]
 ['CDRAG' 20.0 30.0 10.0]
 ['CNSAG' 20.1 30.0 10.2]
 ['AGSAG' 18.25 28.0 8.5]
 ['ANVAG' 17.25 26.0 8.5]
 ['CDRAG' 17.5 27.5 7.5]
 ['CNSAG' 14.4 26.4 2.5]
 ['AGSAG' 18.0 25.0 11.0]
 ['ANVAG' 18.0 25.0 11.0]
 ['CDRAG' 18.5 26.0 11.0]
 ['CNSAG' 16.0 19.5 12.5]
 ['AGSAG' 17.5 22.0 13.0]
 ['ANVAG' 25.3 36.8 13.9]
 ['CDRAG' 13.0 21.0 5.0]
 ['CNSAG' 30.4 41.3 19.6]
 ['AGSAG' 22.0 29.0 15.0]
 ['ANVAG' 17.5 27.0 8.0]
 ['CDRAG' 25.6 32.8 18.4]
 ['CNSAG' 21.7 31.6 11.8]
 ['AGSAG' 19.0 25.0 13.0]
 ['ANVAG' 17.25 27.5 7.0]
 ['CDRAG' 13.5 17.0 10.0]
 ['CNSAG' 26.0 34.0 18.0]
 ['AGSAG' 26.55 36.5 16.6]
 ['ANVAG' 26.5 35.2 17.8]
 ['CDRAG' 23.5 33.0 14.0]
 ['CNSAG' 23.5 35.0 12.0]
 ['AGSAG' 22.75 32.5 13.0]
 ['ANVAG' 27.0 38.0 16.0]
 ['CDRAG' 23.75 33.5 14.0]
 ['CNSAG' 21.5 29.0 14.0]
 ['AGSAG' 20.25 28.5 12.0]
 ['ANVAG' 23.5 37.0 10.0]
 ['CDRAG' 21.0 26.0 16.0]
 ['CNSAG' 19.5 27.0 12.0]
 ['AGSAG' 27.5 34.0 21.0]
 ['ANVAG' 26.5 32.0 21.0]
 ['CDRAG' 27.5 30.0 25.0]
 ['CNSAG' 27.5 32.0 23.0]
 ['AGSAG' 27.5 33.0 22.0]
 ['ANVAG' 29.5 38.0 21.0]
 ['CDRAG' 25.7 31.8 19.6]
 ['CNSAG' 27.5 33.0 22.0]
 ['AGSAG' 28.5 35.0 22.0]
 ['ANVAG' 26.0 31.0 21.0]
 ['CDRAG' 29.0 38.0 20.0]
 ['CNSAG' 29.5 36.0 23.0]
 ['AGSAG' 26.0 29.0 23.0]
 ['ANVAG' 27.0 37.0 17.0]
 ['CDRAG' 28.0 36.0 20.0]
 ['CNSAG' 12.0 22.0 2.0]
 ['AGSAG' 18.75 30.2 7.3]
 ['ANVAG' 20.5 29.0 12.0]
 ['CDRAG' 22.5 29.0 16.0]
 ['CNSAG' 19.25 29.0 9.5]
 ['AGSAG' 26.15 39.7 12.6]
 ['ANVAG' 21.5 30.0 13.0]
 ['CDRAG' 28.15 41.7 14.6]
 ['CNSAG' 23.5 34.0 13.0]
 ['AGSAG' 22.0 30.0 14.0]
 ['ANVAG' 19.5 29.0 10.0]
 ['CDRAG' 25.5 34.0 17.0]
 ['CNSAG' 23.475 34.45 12.5]
 ['AGSAG' 17.45 26.4 8.5]
 ['ANVAG' 23.4 32.0 14.8]
 ['CDRAG' 26.1 41.8 10.4]
 ['CNSAG' 14.9 27.0 2.8]
 ['AGSAG' 20.0 31.0 9.0]
 ['ANVAG' 28.7 41.0 16.5]
 ['CDRAG' 19.0 30.0 8.0]
 ['CNSAG' 21.25 29.0 13.5]
 ['AGSAG' 26.0 34.0 18.0]
 ['ANVAG' 26.5 34.5 18.5]
 ['CDRAG' 25.7 33.0 18.5]
 ['CNSAG' 26.5 33.0 20.0]
 ['AGSAG' 24.7 33.0 16.5]
 ['CNSAG' 25.0 34.0 16.0]
 ['AGSAG' 28.2 36.0 20.5]
 ['CNSAG' 27.0 32.5 21.5]
 ['AGSAG' 27.7 36.5 19.0]
 ['MLGBS' 24.0 30.0 18.0]
 ['PLNBS' 28.5 35.5 21.5]
 ['LRTBS' 28.0 38.0 18.0]
 ['MLGBS' 28.75 36.5 21.0]
 ['PLNBS' 28.5 36.0 21.0]
 ['LRTBS' 32.7 38.3 27.1]
 ['MLGBS' 27.5 34.5 20.5]
 ['PLNBS' 30.25 37.0 23.5]
 ['LRTBS' 27.5 36.0 19.0]
 ['MLGBS' 27.75 33.5 22.0]
 ['PLNBS' 24.3 34.0 14.6]
 ['RBRBS' 20.55 25.7 15.4]
 ['SANBS' 29.9 36.8 23.0]
 ['SARBS' 30.25 37.0 23.5]
 ['SBABS' 29.0 36.0 22.0]]

In [72]:
print( temperaturas.columns )

Index(['estacion', 'tempaire', 'maxima', 'minima'], dtype='object')

In [73]:
print( temperaturas.index )

RangeIndex(start=0, stop=100, step=1)

# Manipulación

## Ordenar

In [74]:
print( temperaturas.sort_values("tempaire") )

   estacion  tempaire  maxima  minima
4     AGSAG      9.50    19.0     0.0
55    CNSAG     12.00    22.0     2.0
18    CDRAG     13.00    21.0     5.0
26    CDRAG     13.50    17.0    10.0
11    CNSAG     14.40    26.4     2.5
..      ...       ...     ...     ...
97    SANBS     29.90    36.8    23.0
98    SARBS     30.25    37.0    23.5
92    PLNBS     30.25    37.0    23.5
19    CNSAG     30.40    41.3    19.6
90    LRTBS     32.70    38.3    27.1

[100 rows x 4 columns]

In [75]:
# de mayor a menor
print( temperaturas.sort_values("tempaire", ascending=False) )

   estacion  tempaire  maxima  minima
90    LRTBS     32.70    38.3    27.1
19    CNSAG     30.40    41.3    19.6
98    SARBS     30.25    37.0    23.5
92    PLNBS     30.25    37.0    23.5
97    SANBS     29.90    36.8    23.0
..      ...       ...     ...     ...
11    CNSAG     14.40    26.4     2.5
26    CDRAG     13.50    17.0    10.0
18    CDRAG     13.00    21.0     5.0
55    CNSAG     12.00    22.0     2.0
4     AGSAG      9.50    19.0     0.0

[100 rows x 4 columns]

# Filtrar datos

# solo la columna de temperatura promedio

In [76]:
print( temperaturas["tempaire"] )

0     19.25
1     17.40
2     20.00
3     17.50
4      9.50
      ...
95    24.30
96    20.55
97    29.90
98    30.25
99    29.00
Name: tempaire, Length: 100, dtype: float64

# solo columnas máxima y mínima

In [77]:
print( temperaturas[ ["maxima", "minima" ] ] )

    maxima  minima
0     28.0    10.5
1     27.3     7.5
2     30.0    10.0
3     28.0     7.0
4     19.0     0.0
..     ...     ...
95    34.0    14.6
96    25.7    15.4
97    36.8    23.0
98    37.0    23.5
99    36.0    22.0

[100 rows x 2 columns]

### filtrar utilizando condiciones

In [78]:
# guardar las temperaturas "calientes"
calientes = temperaturas[  temperaturas["maxima"] > 30   ]
print(calientes)

   estacion  tempaire  maxima  minima
5     ANVAG    20.500   31.00    10.0
17    ANVAG    25.300   36.80    13.9
19    CNSAG    30.400   41.30    19.6
22    CDRAG    25.600   32.80    18.4
23    CNSAG    21.700   31.60    11.8
27    CNSAG    26.000   34.00    18.0
28    AGSAG    26.550   36.50    16.6
29    ANVAG    26.500   35.20    17.8
30    CDRAG    23.500   33.00    14.0
31    CNSAG    23.500   35.00    12.0
32    AGSAG    22.750   32.50    13.0
33    ANVAG    27.000   38.00    16.0
34    CDRAG    23.750   33.50    14.0
37    ANVAG    23.500   37.00    10.0
40    AGSAG    27.500   34.00    21.0
41    ANVAG    26.500   32.00    21.0
43    CNSAG    27.500   32.00    23.0
44    AGSAG    27.500   33.00    22.0
45    ANVAG    29.500   38.00    21.0
46    CDRAG    25.700   31.80    19.6
47    CNSAG    27.500   33.00    22.0
48    AGSAG    28.500   35.00    22.0
49    ANVAG    26.000   31.00    21.0
50    CDRAG    29.000   38.00    20.0
51    CNSAG    29.500   36.00    23.0
53    ANVAG    27.000   37.00    17.0
54    CDRAG    28.000   36.00    20.0
56    AGSAG    18.750   30.20     7.3
60    AGSAG    26.150   39.70    12.6
62    CDRAG    28.150   41.70    14.6
63    CNSAG    23.500   34.00    13.0
66    CDRAG    25.500   34.00    17.0
67    CNSAG    23.475   34.45    12.5
69    ANVAG    23.400   32.00    14.8
70    CDRAG    26.100   41.80    10.4
72    AGSAG    20.000   31.00     9.0
73    ANVAG    28.700   41.00    16.5
76    AGSAG    26.000   34.00    18.0
77    ANVAG    26.500   34.50    18.5
78    CDRAG    25.700   33.00    18.5
79    CNSAG    26.500   33.00    20.0
80    AGSAG    24.700   33.00    16.5
81    CNSAG    25.000   34.00    16.0
82    AGSAG    28.200   36.00    20.5
83    CNSAG    27.000   32.50    21.5
84    AGSAG    27.700   36.50    19.0
86    PLNBS    28.500   35.50    21.5
87    LRTBS    28.000   38.00    18.0
88    MLGBS    28.750   36.50    21.0
89    PLNBS    28.500   36.00    21.0
90    LRTBS    32.700   38.30    27.1
91    MLGBS    27.500   34.50    20.5
92    PLNBS    30.250   37.00    23.5
93    LRTBS    27.500   36.00    19.0
94    MLGBS    27.750   33.50    22.0
95    PLNBS    24.300   34.00    14.6
97    SANBS    29.900   36.80    23.0
98    SARBS    30.250   37.00    23.5
99    SBABS    29.000   36.00    22.0

In [79]:
calientes.count()

estacion    59
tempaire    59
maxima      59
minima      59
dtype: int64

# agregando columnas calculadas

# cambiar agregar una columna de temperatura promedio pero en Farenheit
# formula: (°C × 9/5) + 32 = °F

In [80]:
temperaturas["tempaire_f"] = ( temperaturas["tempaire"] * 9/5 ) +32

In [81]:
print(temperaturas.head())

  estacion  tempaire  maxima  minima  tempaire_f
0    AGSAG     19.25    28.0    10.5       66.65
1    ANVAG     17.40    27.3     7.5       63.32
2    CDRAG     20.00    30.0    10.0       68.00
3    CNSAG     17.50    28.0     7.0       63.50
4    AGSAG      9.50    19.0     0.0       49.10

In [82]:
print( temperaturas[ ["tempaire","tempaire_f"] ] )

    tempaire  tempaire_f
0      19.25       66.65
1      17.40       63.32
2      20.00       68.00
3      17.50       63.50
4       9.50       49.10
..       ...         ...
95     24.30       75.74
96     20.55       68.99
97     29.90       85.82
98     30.25       86.45
99     29.00       84.20

[100 rows x 2 columns]

## Análisis estadístico

* .median()

* .mode()

* .min() 

* .max()

* .var()

* .std()

* .sum()

* .quantile()

In [83]:
print(temperaturas["estacion"] )

0     AGSAG
1     ANVAG
2     CDRAG
3     CNSAG
4     AGSAG
      ...
95    PLNBS
96    RBRBS
97    SANBS
98    SARBS
99    SBABS
Name: estacion, Length: 100, dtype: object

In [86]:
print(temperaturas["estacion"].value_counts() )

estacion
AGSAG    23
CNSAG    22
ANVAG    20
CDRAG    20
MLGBS     4
PLNBS     4
LRTBS     3
RBRBS     1
SANBS     1
SARBS     1
SBABS     1
Name: count, dtype: int64

In [88]:
# en porcentaje
print(temperaturas["estacion"].value_counts(normalize = True) )

estacion
AGSAG    23.0
CNSAG    22.0
ANVAG    20.0
CDRAG    20.0
MLGBS     4.0
PLNBS     4.0
LRTBS     3.0
RBRBS     1.0
SANBS     1.0
SARBS     1.0
SBABS     1.0
Name: proportion, dtype: float64

In [89]:
print(temperaturas["estacion"].value_counts(normalize = True)*100 )

estacion
AGSAG    23.0
CNSAG    22.0
ANVAG    20.0
CDRAG    20.0
MLGBS     4.0
PLNBS     4.0
LRTBS     3.0
RBRBS     1.0
SANBS     1.0
SARBS     1.0
SBABS     1.0
Name: proportion, dtype: float64

In [90]:
# agrupar y sacar promeio
print( temperaturas[ temperaturas["estacion"] == "AGSAG" ] )

   estacion  tempaire  maxima  minima  tempaire_f
0     AGSAG     19.25    28.0    10.5       66.65
4     AGSAG      9.50    19.0     0.0       49.10
8     AGSAG     18.25    28.0     8.5       64.85
12    AGSAG     18.00    25.0    11.0       64.40
16    AGSAG     17.50    22.0    13.0       63.50
20    AGSAG     22.00    29.0    15.0       71.60
24    AGSAG     19.00    25.0    13.0       66.20
28    AGSAG     26.55    36.5    16.6       79.79
32    AGSAG     22.75    32.5    13.0       72.95
36    AGSAG     20.25    28.5    12.0       68.45
40    AGSAG     27.50    34.0    21.0       81.50
44    AGSAG     27.50    33.0    22.0       81.50
48    AGSAG     28.50    35.0    22.0       83.30
52    AGSAG     26.00    29.0    23.0       78.80
56    AGSAG     18.75    30.2     7.3       65.75
60    AGSAG     26.15    39.7    12.6       79.07
64    AGSAG     22.00    30.0    14.0       71.60
68    AGSAG     17.45    26.4     8.5       63.41
72    AGSAG     20.00    31.0     9.0       68.00
76    AGSAG     26.00    34.0    18.0       78.80
80    AGSAG     24.70    33.0    16.5       76.46
82    AGSAG     28.20    36.0    20.5       82.76
84    AGSAG     27.70    36.5    19.0       81.86

In [91]:
print( temperaturas[ temperaturas["estacion"] == "AGSAG" ]["tempaire"])

0     19.25
4      9.50
8     18.25
12    18.00
16    17.50
20    22.00
24    19.00
28    26.55
32    22.75
36    20.25
40    27.50
44    27.50
48    28.50
52    26.00
56    18.75
60    26.15
64    22.00
68    17.45
72    20.00
76    26.00
80    24.70
82    28.20
84    27.70
Name: tempaire, dtype: float64

In [95]:
print( temperaturas[ temperaturas["estacion"] == "AGSAG" ]["tempaire"].mean() )

22.32608695652174

In [ ]:
print( temperaturas[ temperaturas["estacion"] == "AGSAG" ]["tempaire"].mean().round(2))

# Agrupar todos

In [99]:
print( temperaturas.groupby("estacion")["tempaire"].mean().round(2) )

estacion
AGSAG    22.33
ANVAG    22.96
CDRAG    22.68
CNSAG    22.18
LRTBS    29.40
MLGBS    27.00
PLNBS    27.89
RBRBS    20.55
SANBS    29.90
SARBS    30.25
SBABS    29.00
Name: tempaire, dtype: float64